**/_minted/
**/svg-inkscape/
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.config.minted
**/*.data.minted
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf_tex
**/*.run.xml
**/*.gz
**/*.toc
**/*.xdv
**/*.zref
